
.graph__container{
    height: 92vh;
    .graph__data{
        padding: 10px 20px;
        .select__container{
            display: flex;
            justify-content: space-between;
            label{

                font-weight: 600;
                padding: 10px 0;
            }
            select {
                width: 100px;
                height: 30px;
            }
        }
        .scan__buttons{
            display: flex;
            margin: 20px 0;

            button{
                height: 26px;
                width: 100px;
                border: 0px;
                cursor: pointer;
                color: white;
                font-weight: 500;
            }
            .start__button{
                background-color: green;
            }
            .stop__button{
                margin-left: 20px;
                background-color: red;
            }
        }
        .scan__graph__container{
            display: flex;
            label{
                font-weight: 600;
                color: black;
            }
            .live_scan_image__container{

                
                width: 50%;

                .time__show{
                    margin-left: 30px;
                }
                .chart__1__container{
                    height: 30vh;
                    width: 95%;
                    background-color: rgb(140, 4, 131);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        color: white;
                        font-weight: bold;

                    }
                    .chart__1{
                        // max-height: 20vh;
                        // overflow: auto;
                        // height: 20vh;
                    }
                }
            }
            .live_amplitude__container{
                width: 50%;
                .chart__2__container{
                    height: 30vh;
                    background-color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }
        .plank__scan__container{
            margin-top: 20px;
            .plank__scan__graph{
                width: 100%;
                height: 25vh;
                border: 1px solid lightgray;
                background-color: lightgray;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    font-weight: bold;
                    font-size: 20px;
                }
            }
            .plan__scan__text{
                text-align: center;
                p{
                    margin: 10px 0 0 0;
                    font-weight: bold;
                    font-size: 24px;
                }
            }
        }
    }
}