
.header__blue{
    background-color: rgb(25, 118, 210);
    height: 8vh;
    align-items: center;
    display: flex;
    p{
        padding-left: 10px;
        font-weight: 500;
        color: white;
    }
}